@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

@theme {
  /* Color */
  --color-primary: #374151;
  --color-white: #ffffff;
  --color-white-100: #e5e7eb;
  --color-black: #222222;
  --color-gray: #6b7280;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-orange: #FF532E;

  --font-outfit: "Outfit", sans-serif;
  --font-prata: "Prata", serif;
}

@layer base {
  body {
    @apply font-outfit text-primary overflow-x-hidden overflow-y-auto bg-white;
  }

  .app__container {
    @apply px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw];
  }

  .page__container {
    @apply py-5 md:py-10;
  }

  /*Typography*/
  .major__heading {
    @apply font-prata text-primary text-[30px] lg:text-[48px];
  }

  .sub__heading {
    @apply font-outfit text-[24px] font-medium uppercase;
  }

  .sub__heading-primary {
    @apply text-primary;
  }

  .sub__heading-gray {
    @apply text-gray;
  }

  .text-16-primary-medium {
    @apply text-primary text-[16px] font-medium;
  }

  .text-16-gray-medium {
    @apply text-gray text-[16px] font-medium;
  }

  .text-16-black-normal {
    @apply text-[16px] font-normal text-black;
  }

  .text-16-gray-normal {
    @apply text-gray text-[16px] font-normal;
  }

  .text-14-gray-medium {
    @apply text-gray text-[14px] font-medium;
  }

  .text-14-primary-medium {
    @apply text-primary text-[14px] font-medium;
  }

  .text-14-primary-normal {
    @apply text-primary text-[14px] font-normal;
  }

  .text-14-gray-normal {
    @apply text-gray text-[14px] font-normal;
  }

  .text-14-black-normal {
    @apply text-[14px] font-normal text-black;
  }

  /*  Layout */
  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .product__carousel-home {
    @apply grid grid-cols-2 gap-4 gap-y-6 md:grid-cols-3 lg:grid-cols-4;
  }

  .product__carousel-collection {
    @apply grid grid-cols-2 gap-4 gap-y-6 md:grid-cols-3 lg:grid-cols-4;
  }

  /*  Spacing*/
  .section-vertical__padding {
    @apply pt-6 md:pt-10;
  }

  .logo {
    @apply w-[144px] min-w-[144px] object-cover;
  }

  .header__icon {
    @apply w-5 min-w-5 cursor-pointer;
  }

  .mobile__link {
    @apply border-white-100 border-b py-2 pl-6 uppercase;
  }

  .text__dash-container {
    @apply flex items-center gap-2;
  }

  .text__dash-dash {
    @apply bg-primary h-[2px] w-[50px];
  }

  /* components */
  .outline__button {
    @apply border-primary text-primary hover:bg-primary cursor-pointer border px-4 py-2 font-medium hover:text-white md:px-8 md:py-4 uppercase;
  }

  .filled__button {
    @apply bg-primary hover:bg-primary/85 cursor-pointer px-4 py-2 font-medium text-white md:px-8 md:py-4 uppercase;
  }

  .input-field {
    @apply border border-white-100 rounded-md px-3 py-2 text-[16px];
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
